.DashboardWrapper {
  padding: 30px 43px 30px 30px;
}
.row .DasCard:nth-child(1) .layer {
  background-color: var(--primary-papule);
}
.Icon {
  width: 38px;
  height: 38px;
  background-color: #a66ff0;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cardTitle {
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  width: 112px;
  height: 112px;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.apexcharts-toolbar {
  display: none !important;
}
.DashboardWrapper .layer {
  border-radius: 14px;
  padding: 22.5px 0 22.5px 0;
}
.row .DasCard:not(:nth-child(1)) .layer .cardTitle {
  color: black;
}
.row .DasCard:not(:nth-child(1)) .chart span {
  color: black;
}
.row .DasCard:nth-child(2) .Icon {
  background-color: hsla(356, 100%, 75%, 0.1);
}
.row .DasCard:nth-child(3) .Icon {
  background-color: hsla(265, 90%, 68%, 0.1);
}
.row .DasCard:nth-child(4) .Icon {
  background-color: hsla(49, 93%, 51%, 0.1);
}
.mainCardTitle {
}
